In [14]:
#import thu vien
import sqlite3

#ket noi csdl bang duoc dan
path = "D:\PYTHON\DATA\demo.db" 
connection = sqlite3.connect(path)
print(connection)

#ngan ket noi
#connection.close()

<sqlite3.Connection object at 0x0000028840336D40>

In [15]:
#tao doi tuong
cursor = connection.cursor()
sql = "select * from sinhVien"
cursor.execute(sql)
result = cursor.fetchall()
print(result)
cursor.close()

[('2', 'Bao My', 12.0), ('1', 'Phuong Le', 9.0), ('3', 'HSon', 10.0), ('4', 'Anh Quoc', 8.0)]

In [16]:
#tao doi tuong
cursor = connection.cursor()
sql = "select * from sinhVien where sinhVien.diem>=9"
cursor.execute(sql)
result = cursor.fetchall()
print(result)
cursor.close()

[('2', 'Bao My', 12.0), ('1', 'Phuong Le', 9.0), ('3', 'HSon', 10.0)]

In [23]:
cursor = connection.cursor()
sql = "INSERT INTO sinhVien(maSV, hovaten, diem) VALUES ('7', 'Thanh Tu', '6')"
cursor.execute(sql)
connection.commit()

OperationalError: database is locked